* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    font-size: 14px;
    color: #FFFFFF;
}

.limit {
    max-width: 1596px;
    margin: 0 auto;
}

.wrapper {
    margin: 50px 0;
    background-color: #1c1c1c;
    border-radius: 20px;
}

.d-flex {
    display: flex;
}
.header-logo {
    flex: 2;
}
.header-nav {
    flex: 4;
}
.header-auth {
    flex: 2;
}
.header-container {
    padding: 20px 34px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
header .header-nav ul {
    list-style-type: none;
    height: 100%;
}
.flex-center {
    justify-content: center;
    align-items: center;
    gap: 26px;
}
.auth-container {
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 20px;
}


@media (max-width: 767px) {
    header .header-nav ul {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    
}